* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: #7986B6;
  height: 10%;
  border: 5px solid greenyellow;
}

header h1 {
  margin: 2rem;
}

header a {
  text-decoration: none;
  color: white;
  font-size: 20px;
  margin: 2rem;
}
.home p{
  font-size: larger;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(150, 201, 184);
}
a:hover {
  color: red;
  font-size: 22px;
  text-decoration: underline;
}

span {
  color: tomato;
}

.home {
  color: rgb(150, 201, 184);
  width: 100%;
  height: 400px;

  background-image: url(./img/showcase.jpg);
  background-size: cover;
  background-position: center;
  /* display: flex; */
  justify-content: center;
  align-items: center;
  text-align: center;
}
p{
  font-family:Verdana, sans-serif;
}

main {
  height: 70%;
}

h2 {
  font-size: 32px;
}

.input {
  /* border: 2px solid red; */
  width: 100%;
  height: 50px;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(212, 207, 207);
}
.input-right input:hover{
  background-color: tomato;
}

body {
  margin: 0.2rem;
}

input,
button {
  border-radius: 15px;
  height: 2rem;
  background-color: tomato;
  text-align: center;
}

button {
  width: 5rem;
}

.img {
  width: 100%;
  height: 30%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
  text-align: center;
}

div img {
  width: 6rem;
  margin: 1rem;
}

footer {
  background-color: rgb(78, 74, 74);
  color: white;
  height: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.about-content {
  height: 100%;
  display: flex;
  padding: 1.5rem 2.5 rem;

}

.about-content .a-left {
  width: 70%;
}

.about-content .a-right {
  width: 30%;
}

.about-content h4 {
  padding: 2rem;
}

.about-content p {
  line-height: 1.5rem;
  padding: 1rem;
}

.about-content .pp {
  background-color: gray;
  color: white;
  padding: 1rem;
  margin: 1rem;
}

.services {
  display: flex;
  flex-direction: row;

}

.left-ser p {
  padding: 1rem;
  margin: 1.5rem;
  height: 7rem;
    width: 50rem;
  border: 1px solid gray;
  background-color: rgb(236, 232, 232);
}

main {
  display: flex;
  justify-content: space-between;
}

.box {
  margin: 3rem;
  padding: 2rem 1rem;
  width: 15rem;
  height: 25rem;
  background-color: gray;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
 
}
.box label{
  margin: 1rem;
  font-size: 20px;
}
.box input{
  border-radius: 0;
  text-align: left;
  padding: 1rem;
}
.box input:hover{
  background-color: tomato;
}
h4 {
  margin: 2rem 4rem;
  font-size: 22px;
  color: tomato;
}

.send-but {
  margin: 1rem;
  background-color: tomato;
}

input {
  background-color: white;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}